<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- <title>Neumorphism Login Form UI | CodingNepal</title> -->
      <link rel="stylesheet" href="/static/style.css">
      
   </head>
   <body>
      <div class="content">
         <div class="text">
            {{login}}
         </div>
         <form action="/n">
            <div class="field">
               <input type="number" name="number" placeholder="Enter Your Phone">
               <span class="fas fa-user"></span>
               <label>Phone</label>
            </div>
            <div class="field">
               <input type="password" name="pas" placeholder="Enter Your Password">
               <span class="fas fa-lock"></span>
               <label>Password</label>
            
            </div>
            <div>
            
            <button>Submit</button>
            
            </div>
         </form>
      </div>
   </body>
</html>